torchtext
zstandard
portalocker
wandb
torch
transformers
datasets
einops
seaborn
fancy_einsum
charset-normalizer==3.1.0
detoxify
cmapy
git+https://github.com/magikarp01/tasks.git
notebook
nnsight
transformer_lens
pytest
scikit-learn